<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.cloudframe.provider.cmc.mapper.ApiParamMapper">

    <update id="updateApiParam" parameterType="ApiParam">
        UPDATE tf_asiainfo_api_param
        <trim prefix="set" suffixOverrides=",">
        <if test="param.paramMode != null and param.paramMode != ''">
             PARAM_MODE = #{param.paramMode},
        </if>
        <if test="param.seqId != null and param.seqId != ''">
             SEQ_ID = #{param.seqId},
        </if>
        <if test="param.paramName != null and param.paramName != ''">
             PARAM_NAME = #{param.paramName},
        </if>
        <if test="param.paramType != null and param.paramType != ''">
             PARAM_TYPE = #{param.paramType},
        </if>
        <if test="param.regex != null and param.regex != ''">
             REGEX = #{param.regex},
        </if>
        <if test="param.isEmpty != null and param.isEmpty != ''">
             IS_EMPTY = #{param.isEmpty},
        </if>
        <if test="param.isHide != null and param.isHide != ''">
             IS_HIDE = #{param.isHide},
        </if>
        <if test="param.paramLength != null and param.paramLength != ''">
             PARAM_LENGTH = #{param.paramLength},
        </if>
        <if test="param.paramIndex != null and param.paramIndex != ''">
             PARAM_INDEX = #{param.paramIndex},
        </if>
        <if test="param.headType != null and param.headType != ''">
             HEAD_TYPE = #{param.headType},
        </if>
        <if test="param.completionType != null and param.completionType != ''">
             COMPLETION_TYPE = #{param.completionType},
        </if>
        <if test="param.defaultValue != null and param.defaultValue != ''">
             DEFAULT_VALUE = #{param.defaultValue},
        </if>
        <if test="param.xpath != null and param.xpath != ''">
             XPATH = #{param.xpath},
        </if>
        <if test="param.nameSpace != null and param.nameSpace != ''">
             NAME_SPACE = #{param.nameSpace},
        </if>
        <if test="param.paramDetail != null and param.paramDetail != ''">
             PARAM_DETAIL = #{param.paramDetail},
        </if>
        <if test="param.parentParamId != null and param.parentParamId != ''">
             PARENT_PARAM_ID = #{param.parentParamId},
        </if>
        <if test="param.endDate != null">
             END_DATE = #{param.endDate},
        </if>
        <if test="param.startDate != null">
            START_DATE = #{param.startDate},
        </if>
        </trim>
        WHERE 1=1
        <if test="param.apiId != null and param.apiId != ''">
            and  API_ID = #{param.apiId}
        </if>
        <if test="param.paramId != null and param.paramId != ''">
            and  PARAM_ID = #{param.paramId}
        </if>
    </update>

</mapper>
